.idea
venv
*__pycache__
data/samples/output
settings.json
data/samples/inputs
venv2
*.DS_Store
Y2Mate.is - Obi-Wan Kenobi  Official Trailer  Disney+-3Yh_6_zItPU-1080p-1651678500355_exampleTEMP_MPY_wvf_snd.ogg
